<?xml version="1.0"?>
<configuration>

	<!-- Connection strings for your database -->
	<connectionStrings>
		<add name="OnlineExamDB"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=OnlineExamDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<!-- Target .NET Framework version -->
		<compilation debug="true" targetFramework="4.8" />

		<!-- Authentication and Authorization -->
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" timeout="30" />
		</authentication>

		<authorization>
			<!-- Allow everyone to access the login page -->
			<allow users="?" />
		</authorization>

		<!-- Session State -->
		<sessionState mode="InProc" timeout="20" />

		<!-- Custom Error Pages -->
		<customErrors mode="Off" />

		<!-- Enable ViewState MAC -->
		<pages enableViewStateMac="true" validateRequest="true" />

		<!-- HTTP Runtime settings -->
		<httpRuntime targetFramework="4.8" maxRequestLength="4096" />
	</system.web>

	<system.webServer>
		<!-- Required for ASP.NET Web Forms -->
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add name="ASP.NET-ISAPI-4.0_32bit"
				 path="*.aspx"
				 verb="*"
				 modules="IsapiModule"
				 scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"
				 preCondition="classicMode,runtimeVersionv4.0,bitness32"
				 responseBufferLimit="0" />
			<add name="ASP.NET-ISAPI-4.0_64bit"
				 path="*.aspx"
				 verb="*"
				 modules="IsapiModule"
				 scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
				 preCondition="classicMode,runtimeVersionv4.0,bitness64"
				 responseBufferLimit="0" />
		</handlers>

		<!-- Default Document -->
		<defaultDocument>
			<files>
				<add value="login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

</configuration>
